<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SIRS Bank</title>
    </head>
    <body>
        <h1>Login page </h1>
        <form action= "{% url 'bank:enter' %}" method="POST" >
            {% csrf_token %}
            <label for="email"> Email:</label>
            <input type="text" id="email" name="email">
            <label for="password"> Password:</label>
            <input type="password" id="password" name="password">
            <input type="submit" value ="Log in">
        </form> 
        <p><a href = "{% url 'bank:index'%}">Homepage</a></p>
    </body>
</html>